html
{
	height: 100%;
}

body
{
	font-family:Arial, Helvetica, sans-serif;
	height: 100%;
	background-color: #666666;
}

#page_wrapper
{
	width: 500px;
	margin-top: 100px;
	margin-left: auto;
	margin-right:auto;
	overflow:auto;
}

#title_part
{
	color: #ffffff;
	width:400px;
	margin-left:auto;
	margin-right:auto;
	font-size: 23px;
}

#body_part
{
	margin-top: 30px;
	width: 400px;
	border: 1px solid #f1f1f1;
	color: #f1f1f1;
}

#chat_part
{
	margin-top: 10px;
	color: #ffffff;
}

#chat_content
{
	margin-left: 10px;
	width: 450px;
}
